.dark-body {
    background: #1a1a1a;
}
.dark-search-title {
    background: linear-gradient(45deg, #2E32FB, #EE3EFE);
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 10px;
    width: 100%;
    box-sizing: border-box;
}
.dark-search-title > img {
    padding-top: 3px;
    float: right;
}
.dark-btn {
    box-sizing: border-box;
    text-align: center;
    padding: 5px 15px;
    background: #1a1a1a;
}
.dark-btn a {
    text-decoration: none;
    color: #000000;
}