* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}
body {
    background: #FFF4FD;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main {
    box-sizing: border-box;
    margin: 5%;
    background: #FFF4FD;
}
.navBar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.navBar figure {
    flex: 1;
}
.btn {
    box-sizing: border-box;
    text-align: center;
    padding: 5px 15px;
}
.btn a {
    text-decoration: none;
    color: #000000;
}
.btn:hover {
    border: 1px dotted #110038;
}
.lila {
    background: #F7C9F3;
    border: 1px solid #110038;
}
.lila:hover {
    background: rgb(235, 193, 231);
}
.drpopdown {
    display: none;
}
.deco-btn::first-letter {
    text-decoration: underline;
}
.dropdown-content-base {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.hidden-element {
    display: none;
}
.dropdown-show {
    display: flex;
    flex-flow: column;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    background: #E6E6E6;
}
.dropdown-show button {
    margin: 10px 5px;
    width: 120px;
    text-align: left;
}
.dropdown-show button:hover {
    background: #FFF4FD;
}
.go-up {
    position: sticky;
    display: inline-block;
    bottom: 50px;
    left: 100vw;
    width: 70px;
}
.search-sec {
    box-sizing: border-box;
    background: #E6E6E6;
    margin: 25px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.search-title {
    background: linear-gradient(45deg, #4180F6, #F7C9F3);
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 10px;
    width: 100%;
    box-sizing: border-box;
}
#search-Input {
    width: 84%;
    height: 30px;
    margin: 10px;
    border: 1px solid #979797;
    box-shadow: -1px -1px 2px 0px #000000;
}
.search-input-div {
    width: 100%;
    padding: 0 10px;
}
.deco-div-search {
    box-shadow: inset -2px -2px 0px 0px #B4B4B4;
}
.search-input-div div {
    width: 84%;
    height: 30px;
    margin: 10px;
    background: #F0F0F0;
    border: 1px solid #979797;
    text-align: left;
}
.search-input-div div:hover {
    background: #d1d1d1;
}
.btn2 {
    border: 1px solid #808080;
    align-self: center;
    padding: 5px 9px;
    color: #979797;
}
.btn2 > img {
    padding-right: 7px;
}
.title-blocks {
    background: #FFFAFE;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #E6BBE2;
    box-shadow: -1px -1px 0px 0px #80687D;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}
.images-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}
.images-container > figure {
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}
.images-container > figure > img {
    width: 240px;
    height: 240px;
}
.search-title > img {
    padding-top: 3px;
    float: right;
}
#div-selector > figure > figcaption {
    opacity: 0.05;
}
#div-selector > figure > figcaption:hover {
    opacity: 1;
}
.btn3 {
    background: #4180F6;
    width: max-content;
    padding: 7px 15px;
    color: #FFFFFF;
    border: 1px solid #4C2F99;
}
.btn-moved {
    position: relative;
    bottom: 40px;
    left: 10px;    
}
#words-searched {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}
@media all and (min-width: 525px) {
    .navBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    .navBar figure {
        flex: 1;
    }
    .dropdown {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
    }
    .btn {
        width: fit-content;
    }
    .space {
        margin-right: 15px;
    }
}
@media all and (min-width: 1440px) {
    main {
        width: 1200px;
    }
}
/*upload page's style*/
.gif-recorder-stylish {
    width: 100%;
    margin: 15px;
}